
<!DOCTYPE HTML>
<head>
    <title>Travelogue</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond:600|Spectral+SC:500" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>



<link rel="stylesheet" href="/stylesheets/app.css">
<body>
  <header>
    <navbar class="navbar">
      <div>
      <a id="travelogue" href=#>Travelogue</a>
      </div>
      <div>
      <a href=#>Home</a>
      <a href=/login>Login</a>
      <a href=/signup>Signup</a>
      <a href=#>About Us</a>
      </div>
    </navbar>
<section>
  <div class="nav">
  <a href=# id="login">Login</a>
  <a href=# id="signup">Signup</a>
  </div>
  <form action="/login" method="POST">
  <div class="login">
  <div class="form-group">
    <label for="username" style="color:white;">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" style="color:white;">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" id="btn" class="btn btn-primary">Submit</button>
</div>
</form>
<form action="/Signup" method="POST">
<div class="signup">  
  <div class="container" id="div">
    <form action ="/Signup" method="POST" id="form">
  <div class="form-group" id="form">
      <label for="Name">Name</label>
      <div class="form-row">
    <div class="col">
      <input type="text" name="firstname" class="form-control" placeholder="First name" required>
    </div>
    <div class="col">
      <input type="text" name="lastname" class="form-control" placeholder="Last name" required>
    </div>
  </div>
  <div class="form-group" id="username">
       <label for="Username">Username</label>
  <div class="col">
</div>      
      <input type="text" name="username" class="form-control" placeholder="Username" required>
    </div>
    <label for="exampleInputEmail2">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
  </div>
  <label  class="form-check form-check-inline" for="inlineCheckbox1">Gender</label>
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="inlineRadio3" name="gender" value="male">
  <label class="form-check-label" for="inlineCheckbox1">Male</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="inlineRadio4" name="gender" value="female">
  <label class="form-check-label" for="inlineCheckbox2">Female</label>
</div>
<div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>  
</div>  
</section>
</div>
</form>
</header>
<footer>
</footer>
</body>
<script type="text/javascript">
        var btnlogin = document.getElementById("login");
        var btnsignup = document.getElementById("signup");
        var login     = document.querySelector(".login");
        var signup     = document.querySelector(".signup");
        
        btnlogin.addEventListener("click",function(){
          login.style.display = "block";
          signup.style.display = "none";
          // signup.classList.toggle(".toggle");
          
        });
        
        btnsignup.addEventListener("click",function(){
          login.style.display = "none";
          signup.style.display = "block";
          // login.classList.toggle(".toggle");
        });
        
        
      
    </script>


</head>
</html>
