<html>
    <head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="profile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="profile.js"></script>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
    <!-- navbar section -->
    <section class="navabar-side">
            <header>
                    <ul class="nav-top">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </header>
        <navabar>
        <ul class="nav-side">
            <div><i class="fas font-awesome"></i></div>
            <li><i class="fas fa-home"></i><a href="#">Home</a></li>
            <li><i class="fas fa-user"></i><a href="#">My Account</a></li>
            <li><i class="fab fa-reddit"></i><a href="#">My Blogs</a></li>
            <li><i class="fas fa-plus-circle"></i><a href="#">Add New Blog</a></li>
            <li><i class="fas fa-user-edit"></i><a href="#">Manage Blogs</a></li>
        </ul>
        </navabar>
    </section>
    </body>
</html>