@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    margin:0;
    padding:0;
    font-size:16px;
}

header{
      background-image: url("https://preview.c9users.io/adishirfan17/blog/Webp.net-compress-image.jpg");
      background-size:cover;
      background-repeat:no-repeat;
      height:100vh;
      width:100%;
      opacity:.75;
}


.header {
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-wrap:nowrap;
    width:40%;
    color : white;
    background-color:#2274A5;
    max-width :350px;
    max-height:60vh;
    word-break:break-all;
    position:absolute;
    right:8%;
    top: 15%;
    opacity:0.9;
    padding:10px;
    text-align:justify;
    border-radius:15px;
}

section>div {
}
.navbar{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    position:relative;
}

a{
    padding:10px;
    margin:10px;
    text-decoration:none !important;
    font-size:20px;
    color:black;
}

a:hover {
    color:white;
    border-bottom : 1px solid white;
}

#exampleInputEmail1,#exampleInputPassword1{
    width: 10%;
    background-color:white;
}

.btn {
    background-color: red;
}

footer {
    height:10vh;
    background-color:black;
}

#travelogue:hover {
    color:white;
    border:none;
    
}

#emailHelp {
 color:white !important;
}

#login:hover , #signup:hover {
    border:none;
    text-align:left;
    border-bottom : 1px solid white;
    
}

#login ,#signup{
    /*width:30px;*/
    margin-bottom:20px;
    padding-left:0;
}

.login {
    margin-bottom: 10%x;
}

.signup {
    display:none;
}

.toggle {
    display:none;
}

.nav {
    

}

.middle {
    background-color:#eee;
    padding:5vw;
}

.main-content h2 {
    text-align:center;
    margin-bottom:3vw;
}

hr {
    width:35%;
    color:#aaa;
    height:2px;
    border-top: 3px solid rgba(0,0,0,.1);
    margin-bottom:3vw;

}

.row div {
    text-align:justify;
    padding:1.5vw;
}

.row i {
    font-size:5vw;
    color:#2e242c;
    width:100%;
    margin:2vw auto;
    text-align:center;
}

.row h3 {
    text-align:center;
    margin-bottom:2vw;
}

.heading {
    position:absolute;
    top:30%;
    width:100%;
    text-align:center;
    
}

.heading h1 {
    font-size:8vw;
    color:#003366;
    font-family:Montserrat;
    letter-spacing:1px;
    font-weight:800;
}

.heading h3 {
    font-size:3vw;
    color:white;
    font-family:Montserrat;
    letter-spacing:1px;
}

.heading button {
    border:none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 1;
    padding: 15px 46px;
    letter-spacing:1px;
    color:white;
    font-family:Montserrat;
    margin-top:10px;
}

.heading button:hover {
    background-color:yellow;
    transform: translate(5px,5px);
    color:black;
    cursor:pointer;
}

@media only screen and (max-width:1000px){
    
}