.d-block w-100{
    width:100%;
    height:auto;
    
}
.spc{
    width:35px;
    height:35px;
}
.mar{
    margin:5px;
}
#q{
    height:100%;
    width:100%;
    position:absolute;
    
}


h1 { 
   position: absolute; 
   top: 40%; 
   left: 0; 
   width: 100%;
   text-align:center;
   font-size:10vw;
   
}  
   



#btn{
    position:absolute;
    top:500px;
    margin:auto;
    width:100%;
    text-align:center;
    
}

.btn-lg {
    font-size:2.5em;
    font:Helvatica;
}


#exampleInputEmail1  {
    
    width:40%;
}

#exampleInputPassword1{
    
    width:40%;
}

#username{
    
    width:40%;
}

#div {
    background:#ffffff;
    width:40%;
    height:30%;
 margin:200px auto;
 border-radius:5.5px;
    
}

