body{
    margin:0;
    padding:0;
    font-size:16px;
}

header{
      background-image: url("https://preview.c9users.io/adishirfan17/blog/Webp.net-compress-image.jpg");
      background-size:cover;
      background-repeat:no-repeat;
      height:90vh;
      width:100%;
      opacity:.75;
}


section {
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-wrap:nowrap;
    flex-basis:100%;
    color : white;
    background-color:#2274A5;
    max-width :350px;
    max-height:60vh;
    word-break:break-all;
    position:absolute;
    right:8%;
    top: 15%;
    opacity:0.9;
    padding:10px;
    text-align:justify;
    border-radius:15px;
}

section>div {
}
.navbar{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    position:relative;
}

a{
    padding:10px;
    margin:10px;
    text-decoration:none !important;
    font-size:20px;
    color:black;
}

a:hover {
    color:white;
    border-bottom : 1px solid white;
}

#exampleInputEmail1,#exampleInputPassword1{
    width: 310px;
    background-color:white;
}

.btn {
    background-color: red;
}

footer {
    height:20vh;
    background-color:black;
}

#travelogue:hover {
    color:white;
    border:none;
    
}

#emailHelp {
 color:white !important;
}

#login:hover , #signup:hover {
    border:none;
    text-align:left;
    border-bottom : 1px solid white;
    
}

#login ,#signup{
    /*width:30px;*/
    margin-bottom:20px;
    padding-left:0;
}

.login {
    margin-bottom:50px;
}

.signup {
    display:none;
}

.toggle {
    display:none;
}

.nav {
    

}

@media only screen and (max-width:1000px){
    
}